:host {
    flex: 1;
}
.chatroom-screen {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .chatroom-users-list-container {
        height: 500px;
        width: 200px;
        background-color: gray;
        &.invisible {
            visibility: hidden;
        }
        .chatroom-users-list {
            width: 100%;
            height: 100%;
            padding: 5px;
            .chatroom-users-list-item {
                font-weight: 700;
                color: white;
                font-size: 20px;
            }
        }
    }
    .chatroom-container {
        width: 500px;
        height: 500px;
        .chatroom-messages-container {
            width: 100%;
            height: 95%;
            border: 1px solid gray;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            border-radius: 5px;
            overflow: auto;
        }
        .chatroom-message-input-container {
            width: 100%;
            height: 5%;
            display: flex;
            input {
                &:focus {
                    border: none;
                }
                flex: 1;
            }
        }
    }
}