<div class="chatroom-screen">
    <div class="chatroom-users-list-container">
        <div class="chatroom-users-list">
            <div class="chatroom-users-list-item" *ngFor="let user of users">
                {{user.username}}
            </div>
        </div>
    </div>
    <div class="chatroom-container">
        <div class="chatroom-messages-container">
          <app-message [msg]="msg" *ngFor="let msg of chatroomMessages" [currentUser]="currentUser">

          </app-message>
        </div>
        <form [formGroup]="fg" (ngSubmit)="onMessageSubmit()" class="chatroom-message-input-container">
            <input type="text" [formControl]="messageCon"/>
            <button type="submit">Send</button>
        </form>
    </div>
    <div class="chatroom-users-list-container invisible"></div>
</div>
